/* Add your CSS here to style your halloween page */
main img {
    justify-content: center;
    align-items: center;
    height: 400px;
}
main image.hover-swap {
    height: 400px;
    transition: .03s ease;
}
main image.hover-swap:hover {
  content: url("halloween/images/skeleton-dancing-gif.gif");
}
.image-hover {
  position: relative;
  width: 400px;
  height: 400px;
}

.image-hover img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease;
}

.image-hover .hover {
  opacity: 0;
}

.image-hover:hover .hover {
  opacity: 1;
}

.image-hover:hover .base {
  opacity: 0;
}
body {
  background-image: url("../images/pumpkin_background.webp");
  background-repeat: repeat;
  background-position: top left;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column; 
}

nav ul { 
  display: flex;
  justify-content: center;
  align-items: center;   
  gap: 40px;              
  font-size: 50px;
  text-align: center;
  text-shadow: 2px 2px 4px black;
}
main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  width: 90%;
  max-width: 1000px;
  margin: auto;               
  flex: 1;                  
  align-content: center;      
}
main section {
    grid-row-start: 2;
}
p {
    background-color: white;
}
h2 {
    color: orange;
    background-color: black;
}
footer {
    background-image: url("/halloween/images/skeleton-dancing-gif.gif");
    min-height: 200px;
    background-repeat: no-repeat;

}
