body {
    background-color: lightgrey;
    margin: 0;
    padding: 0;
    font-family: "Fugaz One", Arial, Helvetica, sans-serif;
    font-size: 22px;
}

#content {
    max-width: 1600px;
    margin: auto;
}

h4 {
    color: white;
}

h2 {
    margin: 0;
}

.msg h2, .msg p {
    color: grey;
}

a {
    text-decoration: none;
}
.fugaz-one-regular {
    font-family: "Fugaz One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.home-title {
    font-family: "Lato", Arial, Helvetica, sans-serif;
    font-size: 2em;
    color: white;
}


header {
    background-color: darkgrey;
    display: grid;
    grid-template-columns: 275px auto;
    z-index: 2;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
    z-index: 3;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 3;
}

nav a {
    color: darkblue;
    display: inline-block;
    padding: 5px 10px;
    margin: 0;
}

nav a:hover {
    color: yellow;
    background-color: purple;
}
#hero {
    display: grid;
    grid-template-rows: 1fr 3fr 1fr; 
    color: white;
    margin-top: -300px;
}

#hero-box {
    grid-column: 1 / 4;
    grid-row: 1 / 3;
}

#hero-img {
    width: 100%;
}

#hero-msg {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin-top: 50px;
}

#hero-msg h1 {
    color: white;
}

#hero-msg h4 {
    color: white;
}
main {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: auto;
}

main section {
    text-align: center;
}

.card-img, .mountains {
    width: 100%;
    box-sizing: border-box;
}

.rivers-card {
    grid-area: 2 / 2 / 3 / 4;
}

.camping-card {
    grid-area: 2 / 5 / 3 / 7;
}

.rapids-card {
    grid-area: 2 / 8 / 3 / 10;
}

#background {
    grid-area: 4 / 1 / 9 / 11;
    background-color: white;
    height: 725px;
}

.mountains {
    grid-area: 5 / 2 / 8 / 7;
    width: 100%;
    box-shadow: 5px 5px 10px #6f7364;
}

.msg {
    grid-area: 6 / 6 / 7 / 10;
    background-color: #6f7364;
    padding: 35px;
    box-shadow: 5px 5px 10px #6f7364;
    line-height: 1.5em;
}

.msg p {
    font-size: .8em;
    padding-bottom: 10px;
}
.book, .join {
    background-color: black;
    color: white;
    padding: 10px 20px;
    margin: 20px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color: purple;
    color: yellow;
}
footer {
    background-color: #6f7364;
    color: black;
    padding: 25px 50px;
    margin-top: 200px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    color: black;
}

footer a:hover {
    color: yellow;
    background-color: purple;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

.card-img {
    border: 10px solid #d9c2a3;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }

    nav, footer {
        flex-direction: column;
    }

    nav a {
        display: block;
        padding: 10px;
    }

    #hero {
        margin-top: 0;
    }

    #hero-msg {
        margin-top: 0;
    }

    #hero-msg h4 {
        display: none;
    }

    #hero-msg h1 {
        color: #6f7364;
    }

    .home-title {
        font-size: 25px;
    }

    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }

    #background {
        display: none;
    }

    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }

    footer {
        margin-top: 25px;
    }
}
