
.bbh-sans-bartle-regular {
  font-family: "BBH Sans Bartle", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.bbh-sans-hegarty-regular {
  font-family: "BBH Sans Hegarty", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.roboto-condensed-regular {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
body {
    background-color: black;
}
#section1 img {
    width: auto;
    height: 300px;

}
#section2 img {
    width: auto;
    height: 300px;

}
#section3 img {
    width: auto;
    height: 200px;

}
#section4 img {
    width: auto;
    height: 200px;
  
}
#section5 img {
    width: auto;
    height: 300px;
}
#section6 img {
    width: auto;
    height: 300px;
}
#section7 img {
    width: auto;
    height: 300px;
}
#section8 img {
    width: auto;
    height: 300px;
}
.content {
    background-color: white;
    max-width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-height: 3000px;
    gap: 30px;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
nav {
    background-color: #DCCCBB;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    max-height: 250px;
}
nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    text-shadow: 1px 1px 2px #A77540;
    font-size: 24px;
    font-family: "BBH Sans Bartle", "BBH Sans Hegarty", sans-serif;
}
nav img {
    max-width: 300px;
    height: auto;
    grid-column-start: 3;
    justify-self: center;
    border-radius: 10px;
}
footer {
    background-color: #A77540;
}
.content section h2 {
    text-align: center;
    font-family: "BBH Sans Hegarty", sans-serif;
    font-size: 28px;
    color: #333333;
    text-decoration: none;
}
#topofpage {
    text-align: center;
    font-family: "BBH Sans Hegarty", sans-serif;
    font-size: 28px;
    color: darkgrey;
    text-decoration: none;
}
.content section h2 a {
    color: #333333;
    text-decoration: none;
}
.content section p {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 18px;
    color: #555555; 
}
main section {
    border: 5px solid #8b98A7;
    margin: 10px;
}
section {
    text-align: center;
}
#client {
    color: white;
}