#everything {
    width: 800px;
    margin: 0 auto;
    display: grid;
    background-color: white;
    border-radius: 30px;
    border: 10px solid darkblue;
    overflow: hidden;

}
#top {
    background-image: url('images/jesus_feeds_5000.jpeg');
    background-position: center top;
    background-size: cover;
    width: 100%;
    height: 400px;
    z-index: 1;
}
#top h1 {
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-size: 50px;
    text-align: center;
    margin-top: 250px;

}
#top h2 {
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
}
#images {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    margin-top: 20px;

}
#images img {
    width: 160px;
    height: auto;
    max-width: 100%;
    text-align: center;
}
#formContainer {
    justify-content: center; 
    align-items: center;   
    display: flex;          
}
#myForm label,
#myForm input,
#myForm div,
#myForm section,
#myForm button {
    margin-bottom: 5px; 
}
h3 {
    text-align: center;
    margin-bottom: 10px;
}